In [44]:
# import dependancies

import pandas as pd

In [45]:
# read the vine csv file to a pandas dataframe

vine_df = pd.read_csv('vine.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [46]:
# create a table where total_votes are greater than 20

filtered_df1 = vine_df[vine_df['total_votes'] >= 20]
filtered_df1.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y

In [47]:
# create a table where helpful_votes/total_votes are greater than 50%

filtered_df2 = filtered_df1[filtered_df1['helpful_votes']/filtered_df1['total_votes'] >=.5]
filtered_df2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [48]:
# create a table for vine reviews

paid_df = filtered_df2[filtered_df2["vine"]=='Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N

In [49]:
# create a table for normal reviews

unpaid_df = filtered_df2[filtered_df2["vine"]=='N']
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y

In [50]:
# total paid (vine) reviews

total_paid_review = paid_df['review_id'].count()
total_paid_review

47

In [51]:
# total unpaid (regular) reviews

total_unpaid_review = unpaid_df['review_id'].count()
total_unpaid_review

8362

In [52]:
# total paid (vine) 5- star reviews

fivestar_paid = paid_df[paid_df['star_rating']==5]['review_id'].count()
fivestar_paid

15

In [53]:
# %age paid (vine) 5- star reviews

percent_5_star_paid = (fivestar_paid/total_paid_review * 100).round(2)
percent_5_star_paid

31.91

In [54]:
# total unpaid (regular) 5- star reviews

fivestar_unpaid = unpaid_df[unpaid_df['star_rating']==5]['review_id'].count()
fivestar_unpaid

4332

In [57]:
# %age unpaid (regular) 5- star reviews

percent_5_star_unpaid = ((fivestar_unpaid)/(total_unpaid_review) * 100).round(2)
percent_5_star_unpaid

51.81